{% extends "base_generic.html" %}

{% block content %}
  <h1>Report Lost Book</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Report Lost</button>
  </form>

  <h2>Lost Reports</h2>
  <table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr style="background-color: black; color: white;">
        <th>#</th>
        <th>Book ID</th>
        <th>Title</th>
        <th>Reporter</th>
        <th>Report Date</th>
        <th>Receiver</th>
      </tr>
    </thead>
    <tbody>
      {% for report in lost_reports %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ report.book.id }}</td>
        <td>{{ report.book.title }}</td>
        <td>{{ report.reporter.user.username }}</td>
        <td>{{ report.report_date }}</td>
        <td>{{ report.receiver.username }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
