{% block content %}
  <h1>Book Return Receipt</h1>
  <p>Reader Name: {{ return_instance.reader.user.username }}</p>
  <p>Return Date: {{ return_instance.return_date }}</p>
  <p>Current Fine: {{ return_instance.fine_amount }}</p>
  <p>Previous Dues: {{ return_instance.previous_dues }}</p>
  <p>Total Dues: {{ return_instance.total_dues }}</p>

  <table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr style="background-color: black; color: white;">
        <th>#</th>
        <th>Book ID</th>
        <th>Title</th>
        <th>Borrow Date</th>
        <th>Days Borrowed</th>
        <th>Fine</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>{{ return_instance.borrow.book.id }}</td>
        <td>{{ return_instance.borrow.book.title }}</td>
        <td>{{ return_instance.borrow.borrow_date }}</td>
        <td>{{ return_instance.return_date|date:"d/m/Y" }}</td>
        <td>{{ return_instance.fine_amount }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
