{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<fluent-card class="mt-4">
    <h1>Account Details</h1>
    <div class="row">
        <div class="col-md-4">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            {% else %}
                <img src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
            <p><strong>Address:</strong> {{ user.address }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
            <p><strong>Level of Education:</strong> {{ user.get_level_of_education_display }}</p>
            <p><strong>Department:</strong> {{ user.get_department_display }}</p>
            <p><strong>Position:</strong> {{ user.get_position_display }}</p>
        </div>
    </div>
</fluent-card>
{% endblock %}
