{% extends "base_generic.html" %}
{% load static %}
{% load compress %}
{% block title %} Account Details {% endblock %}

{% block content %}
{% compress css %}
<style>
    .profile-pic-container {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .profile-pic-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .overlay-btn {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        border-radius: 50%;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
        clip-path: circle(75px at center);
    }

    .overlay-btn:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }
</style>
{% endcompress %}


<fluent-card class="mt-4 p-4">
    <h1 class="mb-4">Account Details</h1>
    <div class="row">
        <div class="col-md-4 text-center position-relative">
            <div class="profile-pic-container">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle shadow" id="profile-picture">
                {% else %}
                    <img src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle shadow" id="profile-picture">
                {% endif %}
                <button class="btn btn-primary overlay-btn" id="change-pic-btn">Change</button>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row" class="text-right">Username:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">First Name:</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Last Name:</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Date of Birth:</th>
                        <td>{{ user.date_of_birth|date:"F d, Y" }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Address:</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-right">Phone Number:</th>
                        <td>{{ user.phone_number|default:"None" }}</td>
                    </tr>
                    {% if user.is_reader %}
                        <tr>
                            <th scope="row" class="text-right">Reader Type:</th>
                            <td>{{ user.reader_profile.get_reader_type_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">Date of Card Creation:</th>
                            <td>{{ user.reader_profile.date_of_card_creation|date:"F d, Y" }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">Owed Money:</th>
                            <td>{{ user.reader_profile.owed_money }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">Credit Score:</th>
                            <td>{{ user.reader_profile.credit_score }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row" class="text-right">Level of Education:</th>
                            <td>{{ user.get_level_of_education_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">Department:</th>
                            <td>{{ user.get_department_display }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">Position:</th>
                            <td>{{ user.get_position_display }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="{% url 'update_account' %}" class="btn btn-primary mt-3">Edit Account Details</a>
            <a href="{% url 'change_password' %}" class="btn btn-secondary mt-3">Change Password</a>
        </div>
    </div>
</fluent-card>

<!-- Profile Picture Modal -->
<div class="modal fade" id="changePicModal" tabindex="-1" role="dialog" aria-labelledby="changePicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePicModalLabel">Change Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{% url 'update_profile_picture' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="id_profile_picture">Upload New Profile Picture</label>
            <input type="file" name="profile_picture" class="form-control-file" id="id_profile_picture">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% compress js %}
<script>
document.getElementById('change-pic-btn').addEventListener('click', function() {
    $('#changePicModal').modal('show');
});

document.getElementById('changePicModal').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);
    fetch("{% url 'update_profile_picture' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(response => response.json()).then(data => {
        if (data.profile_picture_url) {
            document.getElementById('profile-picture').src = data.profile_picture_url;
            $('#changePicModal').modal('hide');
        } else {
            // Handle error
            console.error(data.error);
        }
    }).catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endcompress %}
{% endblock %}
